
<div class="heading"> Change Password  </div>
<br>
<div id="msg" class="alert alert-danger" style="display:none"></div>
<form action="" method="post">
    {% csrf_token %} 
    <table>
        {% for fm in djForm %}
        <tr>
            <td>{{fm.label_tag}}</td>
            <td>{{fm}} </td>
            <td>{{fm.errors|striptags}} </td>
        </tr>
                     
        {% endfor %}
        <tr>
            <td>
                
            </td>
            <td> 
                <input type="button" value="Cancel" id="btn_change_password_cancel">
                <input type="button" value="Save"   id="btn_change_password_save">              
            </td>
            <td>

            </td>
        </tr>
    </table>
    
    
</form>
{% include "home/change_password_ajax.html" %}
    
