<script>
  function displayItems(){
	  // THIS IS CURRENTLY NOT IN USE
    // THIS FUNCTION IS HANDLED AT REPSTIVE INDEX_AJAX.HTML



    // document.getElementById("div_teacher_dashboard").style.display="block";
	  // document.getElementById("div_teacher_exam_released").style.display="none";
    // document.getElementById("div_teacher_exam_crud").style.display="none";
    // document.getElementById("div_teacher_exam_check").style.display="none";
    // document.getElementById("div_teacher_exam_question").style.display="none";
    
    
    
  }

  // document.getElementById("btn_dashboard").addEventListener("click",function(){
  //   document.getElementById("div_teacher_dashboard").style.display="block";
	//   document.getElementById("div_teacher_exam_released").style.display="none";
  //   document.getElementById("div_teacher_exam_crud").style.display="none";
  //   document.getElementById("div_teacher_exam_check").style.display="none";
  //   $("#teacher_msg").text("Dashboard");
  // });

  
  // document.getElementById("btn_exam_crud").addEventListener("click",function(){
  //   document.getElementById("div_teacher_exam_crud").style.display="block";
  //   document.getElementById("div_teacher_exam_released").style.display="none";
  //   document.getElementById("div_teacher_dashboard").style.display="none";	      
  //   document.getElementById("div_teacher_exam_check").style.display="none";
  //   $("#teacher_msg").text("Examination");
  // });

  // document.getElementById("btn_exam_check").addEventListener("click",function(){
  //   document.getElementById("div_teacher_exam_check").style.display="block";
  //   document.getElementById("div_teacher_exam_crud").style.display="none";
  //   document.getElementById("div_teacher_exam_released").style.display="none";
  //   document.getElementById("div_teacher_dashboard").style.display="none";
  //   $("#teacher_msg").text("Check Answer");	      
    
  // });

  

  
  

</script>