{% extends 'home/base.html' %}
{% block body %} 
    <span class="impact">{{djMessageTag}}</span>  
    <div id="div_success_message">
            {% csrf_token %}
            <table>
                <tr>
                    <td>&nbsp;</td> 
                    <td style="text-align:right">Institute Name</td>
                    <td>&nbsp;</td>                
                    <td>{{djForm.institute_name}}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td> 
                    <td style="text-align:right">Institute Owner</td>
                    <td>&nbsp;</td>                
                    <td>{{djForm.institute_owner}}</td>
                </tr>
                
            </table>
            
            
    </div>
    {% if messages %}
        {% for message in messages %}
             <span class="success" {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</span>
        {% endfor %}
    {% endif %}

   <a  href="/"> <h3>OK</h3></a>

{% endblock body %}