{% extends 'home/login_layout.html' %}

{% block title %} WhizAce Technology | Online Examination System {% endblock title %}

{% block body %} 
<form action="" method="POST" id="frm_teacher_index"> 
    {% csrf_token %}
    <div id="div_teacher_main">
        <div id="div_teacher_header">
            <div id="div_teacher_header_col1">
                <span id="teacher_msg"></span>
            </div>
            <div id="div_teacher_header_col2">                                            
                    <input type="button" value="Dashboard" id="btn_dashboard">
                    <!-- <input type="button" value="Exam Release" id="btn_exam_release" > -->
                    <input type="button" value="Examination" id="btn_exam_crud">
                    <input type="button" value="Check Answers" id="btn_exam_check">                                          
            </div>
            
        </div>
        <div id="div_teacher_content">
            <div id="div_teacher_dashboard">
                {% include "teacher/dashboard.html" %} 
            </div>
            <div id="div_teacher_exam_released">
                {% include "teacher/exam_release.html" %} 
            </div>
            <div id="div_teacher_exam_crud">
                {% include "teacher/exam_crud.html" %} 
            </div>
            <div id="div_teacher_exam_check">
                {% include "teacher/check_answer.html" %} 
            </div>
            <div id="div_teacher_exam_question">
                {% include "teacher/exam_question.html" %} 
            </div>
        </div>

    </div>
</form>
    {% include "teacher/index_ajax.html" %}

<style>
#div_teacher_main{
  background-color:  white;
}

#div_teacher_header{
  background-color:  yellow;
  height: 35px;
}

#div_teacher_content{
    background-color:  white;
  height: 500px;
  
}

#div_teacher_header_col1{
    height: 35px;
    width: 50%;
    background-color: #3f3a3a;
    float: left;
    text-align: center;
}


#div_teacher_header_col2{
    height: 35px;
    width: 50%;
    background-color: #3f3a3a;
    float: left;
    
}

#teacher_msg{
    font-size:x-large;
    font-weight: bold;
    color: honeydew;
}

</style>
     

{% endblock body %}