{% extends 'home/login_layout.html' %}

{% block title %} WhizAce Technology | Online Examination System {% endblock title %}

{% block body %} 
    <form action="" method="POST" >
        {% csrf_token %}
        <h3> change password  </h3> <br>
        {% if djForm.non_field_errors %}
            {% for error in djForm.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% for fm in djForm %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        {% endfor %}
        <input type="button" value="Cancel">
        <input type="submit" value="Save">
         
    </form>
    <br><br>
{% endblock body %}